<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <style>
        body {
          text-align:center;
        }
        h1 {
          color:dodgerblue;
        }
    </style>
  </head>
 

  <body>
    <h1>Welcome to MealBuddy!</h1>
    <p>
      Thanks for joining MealBuddy <%= @user.first_name %>!
    </p>
  </body>
</html>