<div class="thank-you-page">
  <h2>Thanks, you paid <%= number_to_currency(@order.price/100.0 * @order.order_quantity) %> for <%= @order.title %> <strong>Bon apetite!</strong>
  </h2>
  <p> <%= link_to 'Browse more food',root_path %></p>
</div>
 


